.filmCard {
  height: 500px;
  overflow: hidden;
}

.filmCard .ant-card-body {
  padding: 0;
}
.filmCard .ant-card-body img {
  width: 100%;
}
.actionContainer {
  display: flex;
  justify-content: space-evenly;
}

.actionIcon {
  display: flex;
  align-items: center;
}

.actionText {
  padding-left: 10px;
}
